{% stylesheet %}
.v-announcement-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}
.v-announcement-right, .v-announcement-left {
    width: 25%;
}

.v-announcement-text {
  flex: 1;
  text-align: center;
}

.v-menu-links {
  display: flex;
  gap: 20px;
}

.v-menu-links a {
  color: {{ section.settings.link_color }};
  text-decoration: none;
}

.v-menu-links a:hover {
  text-decoration: underline;
}
{% endstylesheet %}

<div class="v-announcement-bar section section--page-width  section-background color-{{ section.settings.color_scheme }}">
  <div class="v-announcement-left">
    <span></span>
  </div>
  <div class="v-announcement-text">
    {{ section.settings.announcement_text }}
  </div>
  <div class="v-menu-links v-announcement-right">
    {% for link in section.settings.menu_links.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar Static",
  "tag": "section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Welcome to our store!"
    },
    {
      "type": "link_list",
      "id": "menu_links",
      "label": "Menu Links",
      "default": "main-menu"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-4",
      "label": "t:settings.color_scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f4f4f4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar Static",
      "category": "Header"
    }
  ]
}
{% endschema %}
