{% if template.name == 'index' %}
<style>
        .v-icon-text-wrapper{
            background-color: #DFF3F8;
        }
        .v-icon-text-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            height: 48px;
        }
        .v-icon-text-item{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .v-icon-text-item img{
            width: 24px;
            height: 24px;
            margin: 0;
        }
        .v-icon-text-item p{
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0%;
          vertical-align: middle;
        }
        @media screen and (max-width: 768px){
            .v-icon-text-wrapper{
                height: auto;
            }
            .v-icon-text-container{
                flex-direction: column;
                gap: 10px;
            }
        }
    </style>
    <div class="announcement-bar spacing-style header-section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  style="{% render 'spacing-padding', settings: section.settings %}; --border-bottom-width: {{ section.settings.divider_width }}px;">
    <div class="v-icon-text-wrapper section--page-width section-background color-{{ section.settings.color_scheme }}">
        <div class="v-icon-text-container">
          {% for block in section.blocks %}
            <div class="v-icon-text-item">
                <img src="{{ block.settings.icon | image_url: width: 100  }}" alt="">
                <p>{{ block.settings.title }}</p>
            </div>
          {% endfor %}
        </div>
    </div>
    </div>
{% endif %}

{% schema %}
{
  "name": "Top bar icons",
  "tag": "section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-4",
      "label": "t:settings.color_scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f4f4f4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#000000"
    },
  ],
  "blocks": [
    {
      "type": "icon_text",
      "name": "Icon Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Fast Delivery"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Top bar icons",
      "category": "Header",
      "blocks": [
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        }
      ]
    }
  ]
}
{% endschema %}